@model int

<div class="text-center">
    <h1 class="text-info pt-4">Congratulations! </h1>
    <p class="pb-3">Your food is ordered!</p>
    <h4 class="text-warning pb-3">Order Id: @Model</h4>
    <img src="~/images/order.png" width="80%" />
</div>
